.modal-content {

    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;

    &.hidden {
        display: none;
    }

    .wrap--content {
        background-color: #fff;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        padding: 50px 30px 30px 30px;
    }

    h4 {
        text-transform: uppercase;
        padding-left: 20px;
        margin-bottom: 30px;
    }

    li {
        margin-bottom: 15px;
    }

}
